<h1>Wish Editing Page</h1>

<% if @errors %>
    <% @errors.each do |message| %>
        <p><%= message %></p> 
    <% end %>
<% end %>

<%= form_with model: @wish do |f| %>
    <%= f.label :rank %>
    <%= f.text_field :rank %></br>
    <%= f.collection_select :champ_id, Champ.all, :id, :name %><br>

    <%= f.submit "Edit"%>
<% end %>

    <p> <%= link_to "Delete this wish", wish_path(@wish), :confirm => "Are you sure?", :method => :delete %>