<%= link_to "My Wishes", current_player %>
<%= link_to "Champions", champs_path %>
<%= link_to "Skins", skins_path %>
<%= link_to "Wishes", wishes_path %>
</br></br>
<%= link_to "Create an account", new_player_path %>

<h1> Log in </h1>
<h3><em> <%= flash[:message] %> </em></h3>

<%= form_with url: '/sessions' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %></br>
    <%= f.label :password %>
    <%= f.password_field :password %></br>  
    <%= f.submit "Log in"%>
<% end %>