<h1> Currently logged in as: <%= current_player.username %> </h1>

<% if current_player.id == @player.id %>
    <h1> viewing info for: <%= @player.username %> </h1>
    
    <% @player.desired_champs.each do |champ| %>
        <p><%=link_to "#{champ.name}", champ_path(champ)%> - <%= link_to "Edit", edit_wish_path(champ) %></p>
    <% end %>
    
    <%= link_to "Create Wish", new_wish_path(@player) %> </br>

<% else %>
    <h3> This content is restricted from other users. You may access your content at <%= link_to "your page", current_player %><h3>
<% end %>

<%= link_to "Log out", logout_path, method: :delete %>